/* src/components/Navbar.css */

:root {
    --primary-color: #212529; /* Text Color */
    --secondary-color: #6c757d; /* Grey */
    --background-color: #f8f9fa; /* Light Grey */
    --text-color: #212529; /* Dark Grey */
    --navbar-background: #ffffff; /* White */
    --navbar-text-color: #212529; /* Dark Grey */
    --navbar-hover-background: #e9ecef; /* Light Grey */
    --navbar-toggle-color: #212529; /* Text Color */
    --navbar-hover-color: #ffffff; /* White */
    --chevron-color: #212529; /* Text Color */
    --nav-icon-color: #212529; /* Dark Grey */
    --theme-icon-color: #212529; /* Text Color */
  }
  
  [data-theme='dark'] {
    --primary-color: #e5e7eb; /* Light Grey */
    --secondary-color: #6b7280; /* Grey */
    --background-color: #111827; /* Dark Grey */
    --text-color: #e5e7eb; /* Light Grey */
    --navbar-background: #1f2937; /* Dark Grey */
    --navbar-text-color: #e5e7eb; /* Light Grey */
    --navbar-hover-background: #2c3e50; /* Dark Grey */
    --navbar-toggle-color: #e5e7eb; /* Light Grey */
    --navbar-hover-color: #1f2937; /* Dark Grey */
    --chevron-color: #e5e7eb; /* Light Grey */
    --nav-icon-color: #e5e7eb; /* Light Grey */
    --theme-icon-color: #e5e7eb; /* Light Grey */
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--navbar-background);
    color: var(--navbar-text-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px; /* Added padding */
    width: auto;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  .navbar.collapsed {
    align-items: center;
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .navbar-item {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    font-size: 1em;
    text-decoration: none;
    color: var(--navbar-text-color);
    transition: background 0.3s ease, color 0.3s ease, padding 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar.collapsed .navbar-item {
    padding: 15px 0;
  }
  
  .navbar-item .fa {
    font-size: 1.2em;
    color: var(--nav-icon-color);
    transition: font-size 0.3s ease, color 0.3s ease;
  }
  
  .navbar.collapsed .navbar-item .fa {
    font-size: 1.5em;
    margin: 0 auto;
  }
  
  .navbar-item-text {
    display: inline;
    transition: display 0.3s ease;
  }
  
  .navbar.collapsed .navbar-item-text {
    display: none;
  }
  
  .navbar-item:hover {
    background: var(--primary-color);
    color: var(--navbar-hover-color);
  }
  
  .navbar-item:hover .fa {
    color: var(--navbar-hover-color);
  }
  
  .navbar-item:hover .navbar-item-text {
    color: var(--navbar-hover-color);
  }
  
  .navbar-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px; /* Ensure the buttons are at the bottom with padding */
    margin: 0 auto;
  }
  
  .navbar-toggle,
  .theme-toggle {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    transition: font-size 0.3s ease, color 0.3s ease;
  }
  
  .navbar-toggle {
    color: var(--chevron-color);
  }
  
  .navbar-toggle:hover {
    color: var(--secondary-color);
  }
  
  .navbar.collapsed .navbar-toggle {
    font-size: 2em;
  }
  
  .theme-toggle {
    color: var(--theme-icon-color);
  }
  
  .theme-toggle:hover {
    color: var(--secondary-color);
  }
  